/* Add mobile styles for the component here.  */
.fa {
    font-family: "FontAwesome";
}
.fullscreen {
    background-image: url('~/app/images/app_bg02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.SP {
    width: 50%;
    height: 50%;
    horizontal-align: center;
}
.page-content .page-placeholder {
    color: black;
    font-size: 12;
    vertical-align: center;
    horizontal-align: center;
}
.page-content .page-placeholder2 {
    color: black;
    font-size: 17;
    vertical-align: top;
    horizontal-align: center;
}
.page-content .page-icon {
    font-size: 72;
    vertical-align: top;
    horizontal-align: center;
    color: 'fff';
}
.username {
    width: 50%;
    /* height: 5%; */
    background-color: silver;
    border-color: black;
    border-radius: 2;
    border-width: 1;
    opacity: 0.5;
    font-size: 15;
    text-align: center;
    margin-top: 5%;
}
.pasword {
    width: 50%;
    /* height: 5%; */
    android-elevation: 2;
    background-color: silver;
    border-color: black;
    border-radius: 2;
    border-width: 1;
    opacity: 0.5;
    font-size: 13;
    text-align: center;
    margin-top: 0.5%;
}
.my-button {
    width: 40%;
    height: 7%;
    android-elevation: 2;
    background-color: black;
    border-color: black;
    border-radius: 5;
    border-width: 1;
    color: whitesmoke;
    font-size: 15;
    font-weight: bold;
    horizontal-align: center;
    opacity: 0.7;
    text-color: white;
    margin-top: 4%;
}
.daftar {
    width: 20%;
    height: 7%;
    font-size: 12;
    margin-top: 85%;
    margin-right: 20%;
}
.lupapasword {
    width: 30%;
    height: 7%;
    font-size: 12;
    margin-top: 85%;
    margin-left: 30%;
}
