<Page xmlns:mdc="nativescript-material-cardview">
    <GridLayout class="page page-content">
        <StackLayout class="fullscreen">
            <mdc:CardView width="100" height="100" />
            <mdc:CardView elevation="5" rippleColor="red" width="100" height="100" />
            <Image src="~/app/images/gmbr.png" class="SP"></Image>
            <Label class="page-placeholder" text="LOGIN PENGGUNA"></Label>
            <Label class="page-placeholder2" text="MARKETPLACE"></Label>

            <TextField class="username" hint="Username" keyboardType="email" autocorrect="false"
                autocapitalizationType="none"></TextField>
            <TextField class="pasword" hint="Password" secure="true"></TextField>

            <Button [nsRouterLink]="['/pos']" class="my-button" text="LOGIN"></Button>
        </StackLayout>
        <Button class="daftar" text="Daftar"></Button>
        <Button class="lupapasword" text="Lupa Password ?"></Button>

    </GridLayout>
</Page>