/* Add mobile styles for the component here.  */
.actionbar {
    background-image: url('~/app/images/app_bg02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
