<ActionBar class="action-bar">
    <GridLayout rows="auto" columns="auto, *, auto" paddingRight="10">
        <Label col="0" text="&#xf104;" [nsRouterLink]="['/marketplace']"
            android.systemIcon="ic_menu_back" class="fas v-center" style="padding: 10 15 10 5;"></Label>
        <Label col="1" text="Registrasi" class="v-center" style="font-size: 16px; padding: 10 15 10 5;"></Label>
        <!-- LOGO di KANAN -->
        <Image col="2" src="~/app/images/gmbr.png" width="60" style="margin-right: 5; padding: 10 5 10 15;"></Image>
    </GridLayout>
</ActionBar>

<ActionBar title="Item" class="actionbar">
    <ActionItem
        [nsRouterLink]="['/pos-dashboard']"
        text="POS Dashboard"
        android.position="popup"
    ></ActionItem>
</ActionBar>

<Label class="namapenjual" text="PENJUAL : Gihones Sukses Makmur, Semarang"></Label> 
<GridLayout
    row="1"
    rows="auto,*"
    >
    <SearchBar
        row="0"
        text="{{ search }}"
        hint="search"
        id="search"
        tap="inputTap"
        (loaded)="dismissKeyboard($event)"
    ></SearchBar>
</GridLayout>