<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideTextLayout-2">
        <StackLayout class="sideStackLayout">
            <Image src="~/app/images/LOGO_SP_1080.png" class="sidelogo"></Image>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="SAK PINTU" class="sideLabel sideText"></Label>
                <Label text="&#xf201; Dashboard" class="fas sideLabel sideText" [nsRouterLink]="['/pos-dashboard']"></Label>
                <Label text="&#xf187; Item" class="fas sideLabel sideText"></Label>
                <Label text="&#xf0c0; Costumer" class="fas sideLabel sideText" [nsRouterLink]="['/pos-costumer']"></Label>
                <Label text="&#xf788; Penjualan" class="fas sideLabel sideText" [nsRouterLink]="['/pos-dataitem']"></Label>
                <Label text="&#xf085; Setting" class="fas sideLabel sideText"></Label>
                <Label text="&#xf2f5; Logout" class="fas sideLabel sideText" [nsRouterLink]="['/marketplace']"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>

<GridLayout tkMainContent rows="auto,*,auto,auto" columns="*" style="background-color: #008080;">

        <GridLayout row="0" col="0" rows="auto" columns="*,*,*,*" orientation="horizontal" class="mt-5">
                <Button row="0" col="0" text="&#xf104;" class="fas text-light"
                        style="background-color: #787184; border-radius: 1%;" [nsRouterLink]="['/pos-dashboard']" pageTransition="slide"></Button>
                <Button row="0" col="1" text="&#xf46d; FORM" class="fas text-light" (tap)="changeTabs(0)"
                        style="background-color: #787184; border-radius: 1%;"></Button>
                <Button row="0" col="2" text="&#xf03a; LIST" class="fas text-light" (tap)="changeTabs(1)"
                        style="background-color: #787184; border-radius: 1%;"></Button>
                <Button row="0" col="3" text="&#xf58e;" class="fas text-light" (tap)="changeTabs(2)"
                        style="background-color: #787184; border-radius: 1%;"></Button>
        </GridLayout>

        <Tabs id="mainTabs" row="1" col="0" selectedIndex="0" class="topNavigation">

                <TabContentItem class="form-tabcontent" style="background-color: seashell; color: olive;">
                        <GridLayout rows="*, auto" columns="*" width="100%">
                                <StackLayout  row="0" col="0" orientation="vertical">
                                      <GridLayout rows="auto" columns="*,*,*,*,*" orientation="horizontal" class="v-center mt-1">
                                        <Button row="0" col="0" text="1" class="fas"
                                                style="background-color: #FAEC16; border-radius: 20%;"></Button>
                                        <Button row="0" col="1" text="2" class="fas"
                                                style="background-color: #FAEC16; border-radius: 20%;"></Button>
                                        <Button row="0" col="2" text="&#xf067;" class="fas"
                                                style="background-color: #FAEC16; border-radius: 20%;"></Button>
                                        <Button row="0" col="3" text="&#xf067;" class="fas"
                                                style="background-color: #FAEC16; border-radius: 20%;"></Button>
                                        <Button row="0" col="4" text="&#xf067;" class="fas"
                                                style="background-color: #FAEC16; border-radius: 20%;"></Button>
                                        </GridLayout>

                                        <StackLayout orientation="horizontal" class="input-group mt-1">
                                            <GridLayout columns="*, *, *" rows="auto">
                                                <Label row ="0" col="0" class="fw-bold text-medium text-center" text="TOTAL :" textWrap="true"></Label>
                                                <Label row ="0" col="1" class="text-small text-right" text="Rp." textWrap="true"></Label>
                                                <Label row ="0" col="2" class="fw-bold text-big text-center" text="999.999.999" textWrap="true"></Label>
                                            </GridLayout>
                                        </StackLayout>

                                        <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="fas label-2" text="&#xf007;" textWrap="true"></Label>
                                                <TextField text="Nama Toko | Nama Lengkap" class="textfield"></TextField>
                                        </StackLayout>

                                        <StackLayout orientation="horizontal" class="v-center mt-2">
                                                <Button row="0" col="0" text="&#xf067; ITEM" width="35%" class="fas"
                                                        style="background-color: #1283BF; border-radius: 1%;"></Button>
                                                <Button row="0" col="0" text="&#xf067; SCAN" (tap)="onScan()" width="35%" class="fas"
                                                        style="background-color: #1283BF; border-radius: 1%;"></Button>
                                                <Button row="0" col="1" text="&#xf067; LAIN" width="35%" class="fas"
                                                        style="background-color: #1283BF; border-radius: 1%;"></Button>
                                        </StackLayout>

                                        <StackLayout  orientation="horizontal" class="input-group">
                                                <Label class="label-2" text="Result :" textWrap="true"></Label>
                                                <TextView id="txt_result" class="textfield"></TextView>
                                        </StackLayout>


                                        <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton class="mt-3">
                                                <ListView [items]="items" class="list-group-2">
                                                        <ng-template let-item="item">
                                                    <GridLayout columns="auto, auto, auto" rows="auto, *" class="list-group-item">
                                                            <Image row="0" col="0" rowSpan="2" [src]="item.src" class="img-rounded" style="width: 80; height: 80;"></Image>
                                                            <Label row="0" col="1" [text]="item.name" class="item-left"></Label>
                                                            <Label row="0" col="2" [text]="'Qty '+item.stock" class="item-right"></Label>
                                                            <Label row="1" col="1" [text]="item.desc" class="item-left"></Label>
                                                            <Label row="1" col="2" [text]="'Rp '+item.price" class="item-right"></Label>
                                                    </GridLayout>
                                                        </ng-template>
                                                </ListView>
                                        </ScrollView>
                                        <StackLayout orientation="horizontal" class="input-group mt-2" >
                                                        <Label class="label-2" text="Tambahan" textWrap="true"></Label>
                                                        <TextField class="textfield"></TextField>
                                                </StackLayout>

                                                <StackLayout orientation="horizontal" class="input-group">
                                                        <Label class="label-2" text="Diskon" textWrap="true"></Label>
                                                        <TextField class="textfield"></TextField>
                                                </StackLayout>

                                                <StackLayout orientation="horizontal" class="input-group">
                                                        <Label class="label-2" text="PPN" textWrap="true"></Label>
                                                        <TextField class="textfield"></TextField>
                                                </StackLayout>

                                                <StackLayout orientation="horizontal" class="input-group">
                                                        <Label class="label-2" text="Catatan" textWrap="true"></Label>
                                                        <TextField class="textfield"></TextField>
                                                </StackLayout>

                                </StackLayout>
                                <StackLayout row="1" orientation="horizontal" class="input-group">
                                        <Button (tap)="openDrawer()" row="0" col="0" text="&#xf039;" width="15%" class="fas"
                                                style="background-color: #7B7B7B; border-radius: 1%;"></Button>
                                        <Button row="0" col="1" text="&#xf067;" width="35%" class="fas"
                                                style="background-color: #FAEC16; border-radius: 1%;"></Button>
                                        <Button row="0" col="2" text="&#xf0c7;" width="35%" class="fas"
                                                style="background-color: #38B434; border-radius: 1%;"></Button>
                                        <Button row="0" col="3" text="&#xf2ed;" width="15%" class="fas"
                                                style="background-color: #CD2222; border-radius: 1%;"></Button>
                                </StackLayout>
                        </GridLayout>
                </TabContentItem>

                <TabContentItem class="daftar-tabcontent" style="background-color: seashell; color: olive;">
                <GridLayout rows="*, auto" width="100%">
                        <StackLayout  row="0" orientation="vertical">
                            <SearchBar hint="Search"></SearchBar>
                            <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton class="mt-2">
                                                <ListView [items]="items" class="list-group">
                                                        <ng-template let-item="item">
                                                    <GridLayout columns="auto, auto, auto" rows="auto, *" class="list-group-item">
                                                            <Label row="0" col="1" [text]="item.name" class="item-left"></Label>
                                                            <Label row="0" col="2" [text]="'Stok '+item.stock" class="item-right"></Label>
                                                            <Label row="1" col="1" [text]="item.desc" class="item-left"></Label>
                                                            <Label row="1" col="2" [text]="'Rp '+item.price" class="item-right"></Label>
                                                    </GridLayout>
                                                        </ng-template>
                                                </ListView>
                                        </ScrollView>
                                
                        </StackLayout>
                       <GridLayout row="1" col="0" rows="auto" columns="*,*,*,*,*,*" orientation="horizontal">
                                        <Button (tap)="openDrawer()" row="0" col="0" text="&#xf039;" class="fas"
                                                style="background-color: #7B7B7B; border-radius: 1%;"></Button>
                                        <Button row="0" col="1" text="&#xf100;" class="fas"
                                                style="background-color: #7B7B7B; border-radius: 1%;"></Button>
                                        <Button row="0" col="2" text="&#xf104;" class="fas"
                                                style="background-color: #7B7B7B; border-radius: 1%;"></Button>
                                        <Button row="0" col="3" text="&#xf2f1;" class="fas"
                                                style="background-color: #7B7B7B; border-radius: 1%;"></Button>
                                        <Button row="0" col="4" text="&#xf105;" class="fas"
                                                style="background-color: #7B7B7B; border-radius: 1%;"></Button>
                                        <Button row="0" col="5" text="&#xf101;" class="fas"
                                                style="background-color: #7B7B7B; border-radius: 1%;"></Button>
                                </GridLayout>
                </GridLayout>
                </TabContentItem>


                <TabContentItem class="setting-tabcontent">
                        <GridLayout>
                                <Label text="Search Page Search Page Search Page Search Page "
                                        horizontalAlignment="center" verticalAlignment="middle"></Label>
                        </GridLayout>
                </TabContentItem>


        </Tabs>

</GridLayout>

</RadSideDrawer>
