<ActionBar class="action-bar">
    <GridLayout rows="auto" columns="auto, *, auto" paddingRight="15">
        <Label col="0" text="&#xf104;" [nsRouterLink]="['/marketplace']" pageTransition="slide"
            android.systemIcon="ic_menu_back" class="fas v-center"></Label>
        <Label col="1" text="Registrasi" style="font-size: 16px; vertical-align: middle; padding-left: 10;"></Label>
        <Image col="2" src="~/app/images/gmbr.png" width="60"></Image>
    </GridLayout>
</ActionBar>

<ScrollView orientation="vertical">
    <StackLayout class="fullscreen">


        <StackLayout class="form">
            <Label class="mt-2 mb-2 text-center" text="Silahkan melengkapi data data di bawah ini :"></Label>

            <StackLayout orientation="horizontal" class="input-group">
                <Label class="label" text="Username" textWrap="true"></Label>
                <TextField id="inp_username" class="textfield"></TextField>
            </StackLayout>

            <StackLayout orientation="horizontal" class="input-group">
                <Label class="label" text="Password" textWrap="true"></Label>
                <TextField id="inp_password" class="textfield"></TextField>
            </StackLayout>

            <StackLayout orientation="horizontal" class="input-group">
                <Label class="label" text="Ulang Password" textWrap="true"></Label>
                <TextField id="inp_password" class="textfield"></TextField>
            </StackLayout>

            <StackLayout orientation="horizontal" class="input-group">
                <Label class="label" text="Nama Lengkap" textWrap="true"></Label>
                <TextField id="inp_namalengkap" class="textfield"></TextField>
            </StackLayout>

            <StackLayout orientation="horizontal" class="input-group">
                <Label class="label" text="Email" textWrap="true"></Label>
                <TextField id="inp_email" class="textfield"></TextField>
            </StackLayout>

            <StackLayout orientation="horizontal" class="input-group">
                <Label class="label" text="Handphone" textWrap="true"></Label>
                <TextField id="inp_handphone" class="textfield"></TextField>
            </StackLayout>

            <StackLayout orientation="horizontal" class="input-group">
                <Label class="label" text="No. KTP" textWrap="true"></Label>
                <TextField id="inp_no_ktp" class="textfield"></TextField>
            </StackLayout>

            <Label textWrap="true" text="Baca Syarat & Ketentuan" class="fw-bold text-small mt-2 text-center"></Label>
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <Label text="&#xf058;" class="fas v-center mr-2"></Label>
                <Label textWrap="true" witdth="250" class="text-small"
                    text="Saya telah membaca dan menyetujui Syarat & Ketentuan yang berlaku pada Aplikasi SAKPINTU"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout row="8" class="jarak">
            <Button class="btn" [nsRouterLink]="['/marketplace-register-confirm']" text="Daftar"
                (tap)="validate_registrasi()"></Button>
        </StackLayout>


    </StackLayout>
</ScrollView>
