.bartext {
  font-size: 15;
  color: #3E3E3E;
  text-align: left;
}

.barprofil7 {
  width: 95%;
  height: 5%;
  color: #3E3E3E;
  background-color: #9BD1B3;
  margin-top: 3%;
}

.inputan {
  background-color: #FFFFFF;
  margin-left: 30%;
}

.keteranganpembayaran {
  text-align: center;
}

.action-bar {
  background: no-repeat url('~/app/images/Header2.jpg');
  background-origin: border-box;
  background-position: center;
  background-size: cover;
}

.form-input {
  margin-left: 5%;
  margin-right: 5%;
}

.act {
  text-align: left;
  vertical-align: center;
  color: rgb(44, 44, 44);
  font-size: 20%;
}

.fullscreen {
  background-image: url('~/app/images/app_bg02.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page {
  align-items: center;
  flex-direction: column;
}

.form {
  flex-grow: 2;
  vertical-align: middle;
}

.sk {
  text-align: center;
  margin: 20px;
}

.jarak {
  margin-top: 2%;
}

.my-button {
  width: 60%;
  background-color: #686868;
  border-radius: 2;
  color: #FFFFFF;
  font-size: 15;
  font-weight: bold;
  margin-top: 5%;
}

.btn-kembali {
  height: 10%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 60%;
  background-color: rgba(38, 47, 38, 0.726);
  color: white;
}
