<ActionBar class="action-bar">
    <GridLayout rows="auto" columns="auto, *, auto" paddingRight="10">
        <Label col="0" text="&#xf104;" [nsRouterLink]="['//pos-dashboard']"
            android.systemIcon="ic_menu_back" class="fas v-center" style="padding: 10 15 10 5;"></Label>
        <Label col="1" text="Customer" class="v-center" style="font-size: 16px; padding: 10 15 10 5;"></Label>
        <!-- LOGO di KANAN -->
        <Label col="2" text="&#xf002;" (tap)=tap_btnSearch() class="fas v-center text-right"
            style="padding: 5 7; margin-left: 15; "></Label>
    </GridLayout>
    <ActionItem
        [nsRouterLink]="['/marketplace']"
        text="Marketplace"
        android.position="popup"
    ></ActionItem>
    <ActionItem
        [nsRouterLink]="['/pos-dashboard']"
        text="POS Dashboard"
        android.position="popup"
    ></ActionItem>
</ActionBar>

<StackLayout class="fullscreen">
        <TabView selectedTabTextColor="white" 
         tabBackgroundColor="#6A6A6A"
         tabTextFontSize="16"
         androidSelectedTabBackgroundColor="green" class="fas">
            
                <StackLayout *tabItem="{title: '&#xf03a; LIST', textTransform: 'lowercase'}">
                     <SearchBar hint="Search" 
                        color="black" backgroundColor="#C5A205"
                        textFieldHintColor="whitesmoke"
                        textFieldBackgroundColor="whitesmoke">
                    </SearchBar>
                        <ListView [items]="items" class="list-group">
                            <ng-template let-item="item">
                                <GridLayout rows="auto, auto" [nsRouterLink]="['./item', item.id]" class="list-group-item">
                                    <Label row="0" [text]="item.namatoko" class="item-left"></Label>
                                    <Label row="1" [text]="item.namalengkap" class="item-left"></Label>
                                    <Label row="2" [text]="item.nohandphone" class="item-left"></Label>
                                </GridLayout>
                            </ng-template>
                        </ListView>
                                <StackLayout>
                                        <MDBFooter>
                                            <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="fas v-center" text="&#xf039;" width="10%" height="100px" backgroundColor="lightgray"></Label>
                                                <Label class="fas v-center" text="&#xf100;" width="30%" height="100px" backgroundColor="lightgray"></Label>
                                                <Label class="fas v-center" text="&#xf104;" width="30%" height="100px" backgroundColor="lightgray"></Label>
                                                <Label class="fas v-center" text="&#xf105;" width="30%" height="100px" backgroundColor="lightgray"></Label>
                                                <Label class="fas v-center" text="&#xf101;" width="10%" height="100px" backgroundColor="lightgray" [nsRouterLink]="['/items']"></Label>
                                            </StackLayout>
                                        </MDBFooter>
                                    </StackLayout>
                </StackLayout>
                <StackLayout *tabItem="{title: '&#xf46d; FORM', textTransform: 'lowercase'}">

                                        <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="label-2" text="Nama Toko" textWrap="true"></Label>
                                                <TextField class="textfield"></TextField>
                                        </StackLayout>

                                        <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="label-2" text="Nama Lengkap" textWrap="true"></Label>
                                                <TextField class="textfield"></TextField>
                                        </StackLayout>

                                        <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="label-2" text="Alamat" textWrap="true"></Label>
                                                <TextField class="textfield"></TextField>
                                        </StackLayout>

                                        <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="label-2" text="Propinsi" textWrap="true"></Label>
                                                <TextField class="textfield"></TextField>
                                        </StackLayout>

                                        <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="label-2" text="Kota / Kabupaten" textWrap="true"></Label>
                                                <TextField class="textfield"></TextField>
                                        </StackLayout>

                                        <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="label-2" text="Kecamatan" textWrap="true"></Label>
                                                <TextField class="textfield"></TextField>
                                        </StackLayout>

                                        <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="label-2" text="Kodepose" textWrap="true"></Label>
                                                <TextField class="textfield"></TextField>
                                        </StackLayout>

                                        <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="label-2" text="Telpon" textWrap="true"></Label>
                                                <TextField class="textfield"></TextField>
                                        </StackLayout>

                                        <StackLayout>
                                        <MDBFooter>
                                            <StackLayout orientation="horizontal" class="input-group">
                                                <Label class="fas v-center" text="&#xf039;" width="10%" height="100px" backgroundColor="lightgray"></Label>
                                                <Label class="fas v-center" text="&#xf067;" width="40%" height="100px" backgroundColor="yellow"></Label>
                                                <Label class="fas v-center" text="&#xf0c7;" width="40%" height="100px" backgroundColor="green"></Label>
                                                <Label class="fas v-center" text="&#xf2ed;" width="10%" height="100px" backgroundColor="red" [nsRouterLink]="['/items']"></Label>
                                            </StackLayout>
                                        </MDBFooter>
                                    </StackLayout>
                </StackLayout>
        </TabView>
</StackLayout>
