<ActionBar class="action-bar">
    <GridLayout rows="auto" columns="auto, *, auto" paddingRight="10">
        <Label col="0" text="&#xf104;" [nsRouterLink]="['//pos-dashboard']"
            android.systemIcon="ic_menu_back" class="fas v-center" style="padding: 10 15 10 5;"></Label>
        <Label col="1" text="Customer" class="v-center" style="font-size: 16px; padding: 10 15 10 5;"></Label>
        <!-- LOGO di KANAN -->
         <Label col="2" text="&#xf002;" (tap)=tap_btnSearch() class="fas v-center text-right"
            style="padding: 5 7; margin-left: 15; "></Label>
    </GridLayout>
    <ActionItem
        [nsRouterLink]="['/marketplace']"
        text="Marketplace"
        android.position="popup"
    ></ActionItem>
    <ActionItem
        [nsRouterLink]="['/pos-dashboard']"
        text="POS Dashboard"
        android.position="popup"
    ></ActionItem>
</ActionBar>

<GridLayout class="bg-full-2">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <StackLayout rows="auto, auto" [nsRouterLink]="['../item', item.id]" class="list-group-item">
                <Label row="0" [text]="item.tanggal" class="item-left"></Label>
                <Label row="1" [text]="item.name" class="item-left"></Label>
                <Label row="2" [text]="item.location" class="item-left"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <FlexboxLayout justifyContent="flex-end" id="addButtonContainer"
        left="0">
        <Button class="add-btn" row="0" col="1" text="+" (tap)="navigateAdd()"></Button>
    </FlexboxLayout>
</GridLayout>
