/* Add mobile styles for the component here.  */
.actionbar {
    background-image: url('~/app/images/Header2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fullscreen {
    background-image: url('~/app/images/app_bg02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.barprofil2{
    width:90%;
    height:7%;
    color: #3E3E3E;
    background-color: #9BD1B3;
    margin-top:2%;
}
.bartext2{
    font-size: 15;
    color: #3E3E3E;
    margin-top:28%;
    margin-left:5%;
}
.inputan{
    background-color: #FFFFFF;
    margin-left:30%;
}
.isi{
    width: 100%;
    height:20%;
}
.baratas{
    width:100%;
}
.bartext{
    font-size: 15;
    color: #3E3E3E;
    margin-left:5%;
    margin-top:25%;
}
.baritemphoto{
    width:90%;
    height:30%;
    background-color: #9BD1B3;
}
.photo{
    width: 20%;
    height: 59%;
    background-image: url('~/app/images/app_user.png');
    background-position: center;
    background-color: #FFFFFF;
    border-radius: 100;
}

.item-left {
    text-align: left;

    /* font-weight: bold;
    width: 50%; */
}

.item-right {
    text-align: right;
    /* font-weight: bold;
    width: 50%; */
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
}
