<ActionBar title="Item" class="actionbar">
<NavigationButton [nsRouterLink]="['/pos-dataitem']" android.systemIcon="ic_menu_back"></NavigationButton>
     <GridLayout>
        <Label col="2" class="fas" text="&#xf002;" (tap)=btnSearch() style="text-align: right; margin-right: 10px"></Label>
    </GridLayout>
    <ActionItem
        [nsRouterLink]="['/marketplace']"
        text="Marketplace"
        android.position="popup"
    ></ActionItem>
    <ActionItem
        [nsRouterLink]="['/pos-dashboard']"
        text="POS Dashboard"
        android.position="popup"
    ></ActionItem>
</ActionBar>
<FlexboxLayout flexDirection="column" class="fullscreen page">
                
    <StackLayout style="margin-top: 50px;">
                <GridLayout class="barprofil2" row="0" height="50">
                <Label class="bartext2" textWrap="true" text="Kode Item"></Label>
                <TextField class="inputan" mdbInput label="Kode Item" text="{{ item.id }}"></TextField>
                </GridLayout>
    </StackLayout>
    <StackLayout style="margin-top: 50px;">
                <GridLayout class="barprofil2" row="0" height="50">
                <Label class="bartext2" textWrap="true" text="Deskripsi Item"></Label>
                <TextField class="inputan" mdbInput label="Deskripsi Item" text="{{ item.desc }}"></TextField>
                </GridLayout>
    </StackLayout>
    <StackLayout style="margin-top: 50px;">
                <GridLayout class="barprofil2" row="0" height="50">
                <Label class="bartext3" textWrap="true" text="Satuan"></Label>
                <TextField class="inputan" mdbInput label="Satuan" text="{{ item.satuan }}"></TextField>
                <Label class="fas" text="&#xf002;" style="text-align: right; margin-right: 10px"></Label>
                </GridLayout>
    </StackLayout>
    <StackLayout style="margin-top: 50px;">
                <GridLayout class="barprofil2" row="0" height="50">
                <Label class="bartext3" textWrap="true" text="Harga"></Label>
                <TextField class="inputan" mdbInput label="Harga" text="{{ item.price }}"></TextField>
                </GridLayout>
    </StackLayout>
    <StackLayout style="margin-top: 50px;">
                <GridLayout class="barprofil2" row="0" height="50">
                <Label class="bartext3" textWrap="true" text="Stok Awal"></Label>
                <TextField class="inputan" mdbInput label="Stok Awal" text="{{ item.stock }}"></TextField>
                </GridLayout>
    </StackLayout>
    <StackLayout class="isi" row="14" height="120">
                    <GridLayout class="baratas">
                        <GridLayout class="baritemphoto">
                        <Label col="1" class="bartext" text="Logo Slip"></Label>               
                        </GridLayout>
                        <Label col="0" class="photo" ></Label>
                      </GridLayout>
                </StackLayout>
    <StackLayout>
        <MDBFooter>
            <StackLayout orientation="horizontal" width="100%">
                <Label text="Hapus" width="20%" height="100px" backgroundColor="lightgray"></Label>
                <Label text="Simpan" width="50%" height="100px" backgroundColor="gray"></Label>
                <Label text="Kembali" width="30%" height="100px" backgroundColor="lightgray" [nsRouterLink]="['/items']"></Label>
            </StackLayout>
        </MDBFooter>
    </StackLayout>
</FlexboxLayout>
