<ActionBar class="action-bar">
    <GridLayout rows="auto" columns="auto, *, auto" paddingRight="10">
        <Label col="0" text="&#xf104;" [nsRouterLink]="['//pos-dataitem']"
            android.systemIcon="ic_menu_back" class="fas v-center" style="padding: 10 15 10 5;"></Label>
        <Label col="1" text="Item" class="v-center" style="font-size: 16px; padding: 10 15 10 5;"></Label>
        <!-- LOGO di KANAN -->
         <Label col="2" text="&#xf002;" (tap)=tap_btnSearch() class="fas v-center text-right"
            style="padding: 5 7; margin-left: 15; "></Label>
    </GridLayout>
    <ActionItem
        [nsRouterLink]="['/marketplace']"
        text="Marketplace"
        android.position="popup"
    ></ActionItem>
    <ActionItem
        [nsRouterLink]="['/pos-dashboard']"
        text="POS Dashboard"
        android.position="popup"
    ></ActionItem>
</ActionBar>

<ScrollView orientation="vertical">
<StackLayout class="bg-full-2">
           <StackLayout class="form">                     
                <StackLayout orientation="horizontal" class="input-group">
                        <Label class="label" text="Kode Item" textWrap="true"></Label>
                        <TextField class="textfield" text="{{ item.id }}"></TextField>
                </StackLayout>

                <StackLayout orientation="horizontal" class="input-group">
                        <Label class="label" text="Deskripsi Item" textWrap="true"></Label>
                        <TextField class="textfield" text="{{ item.desc }}"></TextField>
                </StackLayout>

                <StackLayout orientation="horizontal" class="input-group">
                        <Label col="1" class="label" text="Satuan" textWrap="true"></Label>
                        <TextField col="2" class="textfield" text="{{ item.satuan }}"></TextField>
                        <Label col="3" class="fas v-center text-light mr-3" text="&#xf002;"></Label>
                </StackLayout>

                <StackLayout orientation="horizontal" class="input-group">
                        <Label class="label" text="Harga" textWrap="true"></Label>
                        <TextField class="textfield" text="{{ item.price }}"></TextField>
                </StackLayout>

                <StackLayout orientation="horizontal" class="input-group">
                        <Label class="label" text="Stok Awal" textWrap="true"></Label>
                        <TextField class="textfield" text="{{ item.stock }}"></TextField>
                </StackLayout>

                <StackLayout orientation="horizontal" class="input-group">
                        <Label class="label" text="Logo Slip" textWrap="true"></Label>
                        <image class="img-user v-center" src="~/app/images/box-png-icon-22.png" width="50"> </image>
                </StackLayout>

                <StackLayout orientation="horizontal" horizontalAlignment="center">
                    <Label class="home-section-list2-item"
                            style="background-image: url('~/app/images/box-png-icon-22.png'); background-size: cover; background-color: #FFF000; border-width: 1;border-color: #888;"></Label>
                    <Label class="home-section-list2-item"
                            style="background-image: url('~/app/images/box-png-icon-22.png'); background-size: cover; background-color: #FFF000; border-width: 1;border-color: #888;"></Label>
                    <Label class="home-section-list2-item"
                            style="background-image: url('~/app/images/box-png-icon-22.png'); background-size: cover; background-color: #FFF000; border-width: 1;border-color: #888;"></Label>
                    <Label class="home-section-list2-item"
                            style="background-image: url('~/app/images/box-png-icon-22.png'); background-size: cover; background-color: #FFF000; border-width: 1;border-color: #888;"></Label>
                </StackLayout>

                <StackLayout>
                    <MDBFooter>
                        <StackLayout orientation="horizontal" class="input-group">
                            <Label class="fas v-center" text="&#xf2ed;" width="20%" height="100px" backgroundColor="lightgray"></Label>
                            <Label text="Simpan" width="50%" height="100px" backgroundColor="gray"></Label>
                            <Label text="Kembali" width="30%" height="100px" backgroundColor="lightgray" [nsRouterLink]="['/items']"></Label>
                        </StackLayout>
                    </MDBFooter>
                </StackLayout>

            </StackLayout>
</StackLayout>
</ScrollView>
