<ActionBar class="action-bar">
    <NavigationButton [nsRouterLink]="['/marketplace-user']" android.systemIcon="ic_menu_back"></NavigationButton>
    <GridLayout>
        <label col="0" class="act font-weight-bold" text="Atur Data Toko"></label>
        <Image col="1" src="~/app/images/gmbr.png" class="SP"></Image>
    </GridLayout>
</ActionBar>

<StackLayout class="fullscreen">
    <TabView id="tabViewContainer">
        <StackLayout *tabItem="{title: 'Data Toko'}">
            <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
                <GridLayout class="m-15"
                    rows="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
                    <Label class="h3 m-5" height="50" row="0"></Label>
                    <Label class="h3 m-5" height="50" row="1"></Label>
                    <Label class="h3 m-5" height="100" row="2"></Label>
                    <Label class="h3 m-5" height="50" row="3"></Label>
                    <Label class="h3 m-5" height="50" row="4"></Label>
                    <Label class="h3 m-5" height="50" row="5"></Label>
                    <Label class="h3 m-5" height="50" row="6"></Label>
                    <Label class="h3 m-5" height="50" row="7"></Label>
                    <Label class="h3 m-5" height="50" row="8"></Label>
                    <Label class="h3 m-5" height="50" row="9"></Label>
                    <Label class="h3 m-5" height="50" row="10"></Label>
                    <Label class="h3 m-5" height="50" row="11"></Label>
                    <Label class="h3 m-5" height="50" row="12"></Label>
                    <Label class="h3 m-5" height="50" row="13"></Label>
                    <Label class="h3 m-5" height="50" row="14"></Label>
                    <Label class="h3 m-5" height="50" row="15"></Label>

                    <GridLayout class="barprofil2" row="0" height="50">
                        <Label class="bartext2" textWrap="true" text="Nama 
Lengkap"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil3" row="1" height="100">
                        <Label class="bartext3" textWrap="true" text="Keterangan
Toko"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil3" row="2" height="100">
                        <Label class="bartext3" textWrap="true" text="Alamat"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil4" row="3" height="50">
                        <Label class="bartext4" text="Propinsi"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil5" row="4" height="50">
                        <Label class="bartext5" textWrap="true" text="Kota /
Kabupaten"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil6" row="5" height="50">
                        <Label class="bartext6" textWrap="true" text="Kecamatan"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil7" row="6" height="50">
                        <Label class="bartext7" textWrap="true" text="Kodepose"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil7" row="7" height="50">
                        <Label class="bartext7" textWrap="true" text="Telpon"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil7" row="8" height="50">
                        <Label class="bartext7" textWrap="true" text="Faximile"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil7" row="9" height="50">
                        <Label class="bartext7" textWrap="true" text="Email"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil7" row="10" height="50">
                        <Label class="bartext7" textWrap="true" text="Handphone"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <GridLayout class="barprofil7" row="11" height="50">
                        <Label class="bartext7" textWrap="true" text="Kode Toko"></Label>
                        <TextField class="inputan"></TextField>
                    </GridLayout>
                    <Button class="Generate" row="12" text="GENERATE KODE TOKO"
                        [nsRouterLink]="['/marketplace']"></Button>
                    <StackLayout class="isi" row="14" height="120">
                        <GridLayout class="baratas">
                            <GridLayout class="barprofil">
                                <Label col="1" class="bartext" text="Photo Profil"></Label>
                            </GridLayout>
                            <Label col="0" class="photo"></Label>
                        </GridLayout>
                    </StackLayout>
                    <Button class="my-button" row="15" text="UPDATE DATA"></Button>
                </GridLayout>
            </ScrollView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Data User Pos'}">
            <StackLayout>
                <GridLayout class="barprofil7" height="50">
                    <Label class="bartext" textWrap="true" text="Username"></Label>
                    <TextField class="inputan"></TextField>
                </GridLayout>
                <GridLayout class="barprofil2" height="50">
                    <Label class="bartext" textWrap="true" text="Password"></Label>
                    <TextField class="inputan" secure="true"></TextField>
                </GridLayout>
                <GridLayout class="barprofil2" height="50">
                    <Label class="bartext8" textWrap="true" text="Ulang
Password Baru"></Label>
                    <TextField class="inputan" secure="true"></TextField>
                </GridLayout>
                <GridLayout class="barprofil7" height="50">
                    <Label class="bartext7" textWrap="true" text="Nama
Lengkap"></Label>
                    <TextField class="inputan"></TextField>
                </GridLayout>
                <GridLayout class="barprofil7" height="50">
                    <Label class="bartext" textWrap="true" text="Email"></Label>
                    <TextField class="inputan"></TextField>
                </GridLayout>
                <Button class="my-button" text="UPDATE DATA"></Button>
            </StackLayout>
        </StackLayout>
    </TabView>
</StackLayout>