<ActionBar class="action-bar">
    <GridLayout>
        <Image col="0" src="~/app/images/gmbr.png" class="SP"></Image>
        <Label col="1" class="fas" text="&#xf002;" (tap)=btnSearch() style="text-align: right; margin-right: 10px"></Label>
    </GridLayout>
    <ActionItem
        [nsRouterLink]="['/marketplace-user-datatakun']"
        text="Atur Data Akun"
        android.position="popup"
    ></ActionItem>
    <ActionItem
        [nsRouterLink]="['/marketplace-user-datatoko']"
        text="Atur Data Toko"
        android.position="popup"
    ></ActionItem>
    <ActionItem
        [nsRouterLink]="['/marketplace-user-keranjang']"
        text="Keranjang"
        android.position="popup"
    ></ActionItem>
    <ActionItem
        [nsRouterLink]="['/marketplace-user-daftarorder']"
        text="Daftar Order"
        android.position="popup"
    ></ActionItem>
    <ActionItem
        [nsRouterLink]="['/login-marketplace']"
        text="Bantuan"
        android.position="popup"
    ></ActionItem>
    <ActionItem
        [nsRouterLink]="['/login-marketplace']"
        text="Logout"
        android.position="popup"
    ></ActionItem>
</ActionBar>
    
<StackLayout class="fullscreen">  
    <StackLayout class="bar-search">
        <GridLayout rows="auto auto" columns="*" sdkExampleTitle sdkToggleNavButton class="search" *ngIf="search">
            <SearchBar row="0" hint="Search"></SearchBar>
        </GridLayout>
    </StackLayout>
     
    <GridLayout class="list">  
        <Label [nsRouterLink]="['/marketplace-shorting']"  class="padi"></Label>
        <Label col="1" class="strowberry"></Label>
        <Label col="2" class="ikan"></Label>
        <Label col="3" class="pisang"></Label>
    </GridLayout>
 
    <GridLayout class="bar-unggulan">
        <Label class="produkunggulan" text="Produk Unggulan"></Label>
    </GridLayout>
 
    <ScrollView orientation="horizontal" style="height: 25%">
        <GridLayout class="m-15" columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
            <StackLayout col="0" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="1" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="2" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="3" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="4" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="5" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
            </StackLayout>
        </GridLayout>
    </ScrollView>
    <ScrollView orientation="horizontal" style="height: 25%">
        <GridLayout class="m-15" columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
            <StackLayout col="0" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="1" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="2" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="3" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="4" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
25          </StackLayout>
            <StackLayout col="5" width="50%" height="100%" style="margin-left: 20px">
                <mdb-card class="card-image"
                imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')">
    
                    <StackLayout style="background-color: rgba(0, 0, 0, 0.5)" class="card-image-overlay">
                    <mdb-card-body dark="true" style="text-align: center; color: white">
                        <Label class="card-title" text="Title 1"></Label>
                        <Label class="card-text" [text]="loremIpsumText" textWrap="true"></Label>
    
                        <FlexboxLayout justifyContent="center">
                            <Button mdbWavesEffect text="Detail Product" style="background-color: darkslategray" [nsRouterLink]="['/marketplace-product-info']"></Button>
                        </FlexboxLayout>
                    </mdb-card-body>
                    </StackLayout>
    
                </mdb-card>
            </StackLayout>
        </GridLayout>
    </ScrollView>
    <StackLayout class="bar-search">

    </StackLayout>
</StackLayout>
 