<ActionBar class="action-bar">
    <GridLayout rows="auto" columns="auto, *, auto, auto" paddingRight="10">
        <Image col="0" src="~/app/images/gmbr.png" width="60" style="padding: 10 15 10 5;"></Image>
        <!-- LOGO di KIRI -->
        <Label col="1" text="&#xf002;" (tap)=tap_btnSearch() class="fas v-center text-right"
            style="padding: 10 5 10 20;"></Label>
        <Label col="2" *ngIf="!display_membermenu" [nsRouterLink]="['/register-marketplace']" text="Daftar"
            class="v-center" style="font-size: 16px; padding: 10 5 10 15;"></Label>
        <Label col="3" *ngIf="!display_membermenu" [nsRouterLink]="['/login-marketplace']" text="Login" class="v-center"
            focus="#FFF100" style="font-size: 16px; padding: 10 5 10 15;"></Label>
    </GridLayout>
    <ActionItem *ngIf="display_membermenu" [nsRouterLink]="['/marketplace-user-datatakun']" text="Atur Data Akun"
        android.position="popup"></ActionItem>
    <ActionItem *ngIf="display_membermenu" [nsRouterLink]="['/marketplace-user-datatoko']" text="Atur Data Toko"
        android.position="popup"></ActionItem>
    <ActionItem *ngIf="display_membermenu" [nsRouterLink]="['/marketplace-user-keranjang']" text="Keranjang"
        android.position="popup"></ActionItem>
    <ActionItem *ngIf="display_membermenu" [nsRouterLink]="['/marketplace-user-daftarorder']" text="Daftar Order"
        android.position="popup"></ActionItem>
    <ActionItem *ngIf="display_membermenu" [nsRouterLink]="['/login-marketplace']" text="Bantuan"
        android.position="popup"></ActionItem>
    <ActionItem *ngIf="display_membermenu" text="Logout" android.position="popup" (tap)=tap_btnLogout()></ActionItem>
</ActionBar>

<ScrollView orientation="vertical">
    <StackLayout class="bg-full">
        <StackLayout sdkExampleTitle sdkToggleNavButton class="search" *ngIf="display_search">
            <SearchBar row="0" hint="Masukkan pencarian"></SearchBar>
        </StackLayout>

        <ScrollView scrollBarIndicatorVisible="false" orientation="horizontal">
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <StackLayout
                    style="background-image: url('https://sp.haloteman.com/_img/banners/BANNER_005.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover; width: 400; height: 140;">
                </StackLayout>
                <StackLayout
                    style="background-image: url('https://sp.haloteman.com/_img/banners/BANNER_006.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover; width: 400; height: 140;">
                </StackLayout>
                <StackLayout
                    style="background-image: url('https://sp.haloteman.com/_img/banners/BANNER_007.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover; width: 400; height: 140;">
                </StackLayout>
            </StackLayout>
        </ScrollView>

        <StackLayout class="home-section-titlebar">
            <Label class="text-light" text="KATEGORI"></Label>
        </StackLayout>
        <ScrollView scrollBarIndicatorVisible="false" orientation="horizontal" class="home-section-list2-container">
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <Label class="home-section-list2-item" [nsRouterLink]="['/marketplace-shorting']"
                    style="background-image: url('~/app/images/app_ico_04.png'); background-color: #FFF000;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_ico_03.png'); background-color: #59A572;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_ico_02.png'); background-color: #BAC56F;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_ico_01.png'); background-color: #9ED8F6;"></Label>
                <Label class="home-section-list2-item" [nsRouterLink]="['/marketplace-shorting']"
                    style="background-image: url('~/app/images/app_ico_04.png'); background-color: #FFF000;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_ico_03.png'); background-color: #59A572;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_ico_02.png'); background-color: #BAC56F;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_ico_01.png'); background-color: #9ED8F6;"></Label>
            </StackLayout>
        </ScrollView>

        <StackLayout class="home-section-titlebar">
            <Label class="text-light" text="PROMO"></Label>
        </StackLayout>
        <ScrollView class="home-section-list1-container" scrollBarIndicatorVisible="false" orientation="horizontal">
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai%20bola%20hijau.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai bola hijau Semarang" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai03.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai Dahlia Semarang" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai bola emas.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai bola emas" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai%20bola%20hijau.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai bola hijau Semarang" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai03.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai Bintang Merah" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai bola emas.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai bola emas" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
            </StackLayout>
        </ScrollView>

        <StackLayout class="home-section-titlebar">
            <Label class="text-light" text="PRODUK UNGGULLAN"></Label>
        </StackLayout>
        <ScrollView class="home-section-list1-container" scrollBarIndicatorVisible="false" orientation="horizontal">
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/palata.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="PALATA" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai04.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai Bintang Merah" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/ciok o.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Ciok O/Batu Tahu" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/ragi tempe.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="RAGI TEMPE" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/palata.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="PALATA" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai bola emas.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai bola emas" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
            </StackLayout>
        </ScrollView>

        <ScrollView class="home-section-list1-container" scrollBarIndicatorVisible="false" orientation="horizontal">
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai03.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai Bintang Merah" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai bola emas.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai bola emas" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai03.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai Bintang Merah" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
                <GridLayout columns="auto" rows="auto,*,auto"
                    style="background-image: url('https://sp.haloteman.com/_img/sampleprod/lowres/kedelai bola emas.jpg');"
                    class="home-section-list1-item">
                    <Label row="0" col="0" text="Kedelai bola emas" textWrap="true"
                        style="width: 100%; background-color: rgba(255,255,255, 0.8);"></Label>
                    <Button row="2" col="0" text="Detail" mdbWavesEffect
                        style="width: 100; height: 40; background-color: darkslategray; color: white; font-size: 12; opacity: 0.9;"
                        [nsRouterLink]="['/marketplace-product-info']"></Button>
                </GridLayout>
            </StackLayout>
        </ScrollView>

        <StackLayout class="home-section-titlebar">
            <Label class="text-light" text="PENJUAL TERLARIS"></Label>
        </StackLayout>
        <ScrollView scrollBarIndicatorVisible="false" orientation="horizontal" class="home-section-list2-container">
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_user.png'); background-color: #59A572;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_user.png'); background-color: #59A572;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_user.png'); background-color: #59A572;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_user.png'); background-color: #BAC56F;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_user.png'); background-color: #9ED8F6;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_user.png'); background-color: #FFF000;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_user.png'); background-color: #FFF000;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_user.png'); background-color: #FFF000;"></Label>
                <Label class="home-section-list2-item"
                    style="background-image: url('~/app/images/app_user.png'); background-color: #FFF000;"></Label>
            </StackLayout>
        </ScrollView>

    </StackLayout>
</ScrollView>