
.fullscreen {
    background-color: #c0c0c0;
}
.list {
    width: 100%;
    height: 10%;
    margin-top:1%;
}
.padi {
    width: 17%;
    height: 90%;
    background-image: url('~/app/images/app_ico_04.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #DCDF05;
    border-radius: 100;
    font-size: 12;
    font-weight: bold;
    text-align: center;
    margin-right: 60%;
     margin-top:3%;
}
.bar-unggulan{
     width:100%;
    height:50%;
    background-color: #939393;
    font-size: 15;
    color: #FFFFFF;
    text-align: center;
    margin-top:5%;
}
.bar-item{
    width:100%;
    height:20%;
    background-color: #FCF6F6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top:1%;
}
.bar-item2{
    width:100%;
    height:25%;
    background-color: #FCF6F6;
    background-repeat: no-repeat;
    background-position: center;
}
.item{
    width:48%;
    height:95%;
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 50%;
}
.item2{
    width:46%;
    height:95%;
    background-color: #FFFFFF;
    text-align: center;
    margin-top:2%;
    margin-left: 48%;
}
.item3{
    width:48%;
    height:95%;
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 50%;
}
.item4{
    width:46%;
    height:95%;
    background-color: #FFFFFF;
    text-align: center;
    margin-left: 48%;
}
.item5{
    width:48%;
    height:95%;
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 50%;
}
.item6{
    width:46%;
    height:95%;
    background-color: #FFFFFF;
    text-align: center;
    margin-left: 48%;
}
.SP {
    width:20%;
    height: 20%;
    margin-right: 75%;
}
.bck{
    background-image: url('~/app/images/app_bg02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.action-bar {
    background-image: url('~/app/images/Header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.Vlogo {
    font-size: 12;
    font-weight: bold;
    margin-left: 79%;
    margin-top: 40%;
    color: black;
}
.bottom{
    text-align: center;
    margin-top: 10%;
}
ActionBar .action-bar-title {
    horizontal-align: left;
}
.sidedrawer.sidedrawer-left {
    background-color: blue;
}
.sidedrawer.sidedrawer-left .sidedrawer-header-image {
    color: black;
    height: 60;
    width: 60;
    font-size: 60;
    padding: 0;
    margin-bottom: 5;
    margin-top: 20;
}
.sidedrawer.sidedrawer-left .footnote {
    color: rgba(0, 0, 255, 0.5);
}
.sidedrawer .sidedrawer-header {
    background-color: black;
}
.sidedrawer .sidedrawer-header .sidedrawer-header-brand {
    color: blue;
}
.sidedrawer .sidedrawer-content {
    background-color: blue;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item {
    padding-left: 15;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item Label {
    vertical-align: center;
    color: darkblue;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item .fa {
    width: 20;
    margin-right: 10;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected {
    background-color: gray;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected Label {
    color: yellow;
}
